<html lang="en">
    <head>
        <meta charset="UTF-8">
	<title>Anagram Finder</title>
    </head>

    <body>
        <form method="POST" action="/anagramfinder/">
            {% csrf_token %}
	    <h1>Anagram Finder</h1>
	    <h2>Find anagrams of a given word</h2>
            Enter word to find anagrams of: 
	    <input type="text" size=30 style="font-size:20px;font-family:monospace" name="letters"/>
	    <br><br>
	    <input type="Submit" name="submit_button" value="Find anagrams"/>
	    <br><br>
{% if letters == "" %} {%elif letters is None %} {%elif matches == "" %}<i>No anagrams are found of: </i><b>{{ letters }}</b>{% else %}<i>Anagrams of: </i><b>{{ letters }}</b>{% endif %}<br>
	    <pre><text id="matches" style="font-size:20px;font-family:monospace">{% if matches != None %}{{ matches }}{% endif %}</text></pre>
	    <br><br>
        </form>
    </body>
</html>
